// A sample configuration to get you started.
(
    tasks: [
        (
            id: "src",
            type: "cu_gstreamer::CuDefaultGStreamer",
            config: {
               "pipeline": "v4l2src device=/dev/video0 io-mode=4 ! video/x-raw,format=NV12,width=1920,height=1080 ! appsink name=copper",
               // "pipeline": "v4l2src device=/dev/video0 io-mode=4 extra-controls=\"c,exposure=2190,gain=800\" ! video/x-raw,format=NV12,width=1920,height=1080 ! appsink name=copper",
               "caps": "video/x-raw,format=NV12,width=1920,height=1080",
            }
        ),
        (
            id: "t-0",
            type: "tasks::MyTask",
        ),
        (
            id: "sink",
            type: "tasks::MySink",
        ),
     ],
    // Makes a connection from the source to the task and from the task to the sink.
    cnx: [
        (src: "src",  dst: "t-0",   msg: "cu_gstreamer::CuGstBuffer"),
        (src: "t-0",  dst: "sink",   msg: "crate::tasks::MyPayload"),
    ],
)
