(
    tasks: [
        (
            id: "src",
            type: "cu_msp_src::MSPSrc",
            config: {
                "device": "/dev/ttyS4",
                "baudrate": 1_000_000,
            },
        ),
        (
            id: "control",
            type: "tasks::DroneControl",
        ),
        (
            id: "sink",
            type: "cu_msp_sink::MSPSink",
            config: {
                "device": "/dev/ttyS4",
                "baudrate": 1_000_000,
            },
        ),
     ],
    cnx: [
        (src: "src",  dst: "control",   msg: "cu_msp_src::MspResponseBatch"),
        (src: "control",  dst: "sink",   msg: "cu_msp_sink::MspRequestBatch"),
    ],
)
